<!--Message-->
<div style="background-color: #F8F8F8; padding: 5px; margin: 2;">
    <div>
        <p>
            New Interest
        </p>
        <p>
            Name : {{name}}            
        </p>
        <p>
            Email : {{email}}            
        </p>
        <p>
            Contact Number : {{contact-no}}            
        </p>
        <p>
            Company Name : {{comapny-name}}            
        </p>
        <p>
            Industry : {{industry}}            
        </p>
    </div>
</div>
