<!--Store details-->
<div style="background-color: #F8F8F8; padding: 1%; margin: 2;">
    <div>
        <h1>{{store-name}}</h1>
        <h4>{{store-address}}</h4>
    </div>
</div>
<!--Message-->
<div style="background-color: #F8F8F8; padding: 1%; margin: 2;">
    <div>
        <span>
            We were not able to initiate delivery of your order due to some internal error.
        </span>
    </div>
</div>



<!--Customer support messsage payment-confirmation-->
<div style="background-color: #F8F8F8; padding: 1%; margin: 2;">
    <div>
        <span>
            You can request your refund by sending email to: <a
                href="mailto:support@symplified.com">support@symplified.com</a>
        </span>
    </div>
</div>
<!--Thanks messsage payment-confirmation-->
<div style="background-color: #F8F8F8; padding: 1%; margin: 2;">
    <div>
        <span>
            Thank you for your support. We look forward to serving you again in the future.
        </span>
    </div>
</div>


<!--Policy messsage refund-->
<div style="background-color: #F8F8F8; padding: 1%; margin: 2;">
    <div>
        <span>
            Is there something wrong with your Purchase? We love to help if you are requesting for a Refund.
            Click <a href="mailto:support@symplified.com">here</a> to email us your request.
        </span>
    </div>
</div>